<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" nopResource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="Dashboard" nopResource="Admin.Dashboard" controller="Home" action="Index" IconClass="fa-desktop" />
    <siteMapNode SystemName="Catalog" nopResource="Admin.Catalog" PermissionNames="ManageProducts,ManageCategories,ManageManufacturers,ManageProductReviews,ManageProductTags,ManageAttributes" IconClass="fa-book" >

      <siteMapNode SystemName="Categories" nopResource="Admin.Catalog.Categories" PermissionNames="ManageCategories" controller="Category" action="List" IconClass="fa-dot-circle-o"/>


    </siteMapNode>

    <siteMapNode SystemName="Customers" nopResource="Admin.Customers" PermissionNames="ManageCustomers, ManageVendors, ManageActivityLog" IconClass="fa-user" >
      <siteMapNode SystemName="Customers list" nopResource="Admin.Customers.Customers" PermissionNames="ManageCustomers" controller="Customer" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Customer roles" nopResource="Admin.Customers.CustomerRoles" PermissionNames="ManageCustomers" controller="CustomerRole" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Online customers" nopResource="Admin.Customers.OnlineCustomers" PermissionNames="ManageCustomers" controller="OnlineCustomer" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Activity log list" nopResource="Admin.Configuration.ActivityLog.ActivityLog" controller="ActivityLog" action="ListLogs" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="WorkManagementProcess" nopResource="Admin.WorkManagementProcess"  IconClass="fa-user" >
      <siteMapNode SystemName="GeneralProcess" nopResource="Admin.WorkManagementProcess.GeneralProcess"  controller="GeneralProcess" action="Index" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="PTCSKHProcess" nopResource="Admin.WorkManagementProcess.PTCSKHProcess"  controller="PTCSKHProcess" action="Index" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="DTProcess" nopResource="Admin.WorkManagementProcess.DTProcess"  controller="DTProcess" action="Index" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="TKProcess" nopResource="Admin.WorkManagementProcess.TKProcess"  controller="TKProcess" action="Index" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="TCProcess" nopResource="Admin.WorkManagementProcess.TCProcess" controller="TCProcess" action="Index" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="TTQTCTProcess" nopResource="Admin.WorkManagementProcess.TTQTCTProcess"  controller="TTQTCTProcess" action="Index" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="QLNSProcess" nopResource="Admin.WorkManagementProcess.QLNSProcess" controller="QLNSProcess" action="Index" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="MHDGNCUProcess" nopResource="Admin.WorkManagementProcess.MHDGNCUProcess" controller="MHDGNCUProcess" action="Index" IconClass="fa-dot-circle-o" />
    </siteMapNode>
    <siteMapNode SystemName="Content Management" nopResource="Admin.ContentManagement" PermissionNames="ManagePolls, ManageNews, ManageBlog, ManageTopics,ManageStrategy, ManageForums, ManageMessageTemplates" IconClass="fa-cubes">
      <siteMapNode SystemName="News" nopResource="Admin.ContentManagement.News" controller="News" action="Index" IconClass="fa-genderless"/>
      <siteMapNode SystemName="Strategy" nopResource="Admin.ContentManagement.Strategy.StrategyItems" PermissionNames="ManageStrategy" controller="Strategy" action="List"  IconClass="fa-genderless"/>
      <siteMapNode SystemName="ProjectsUC" nopResource="Admin.ContentManagement.ProjectsUnderConstruction"  controller="ProjectsOnGoing"  action="Index"  IconClass="fa-dot-circle-o"/>
      <!--<siteMapNode SystemName="Manage forums" nopResource="Admin.ContentManagement.Forums" PermissionNames="ManageForums" controller="Forum" action="List"  IconClass="fa-dot-circle-o"/>-->
      <siteMapNode SystemName="Customer Work" nopResource="Admin.Configuration.Cstomer.Work" controller="Clients" action="Index" IconClass="fa-genderless"/>
      <siteMapNode SystemName="Activities" nopResource="Admin.Configuration.Activities" controller="Activities" action="Index" IconClass="fa-genderless"/>
      <siteMapNode SystemName="OrganizationChart" nopResource="Admin.Configuration.OrganizationChart" controller="OrganizationChart" action="List" IconClass="fa-genderless"/>
      <siteMapNode SystemName="Certification" nopResource="Admin.Configuration.Certification" controller="Certification" action="List" IconClass="fa-genderless"/>
      <!--<siteMapNode SystemName="ActivitiesHistory" nopResource="Admin.Configuration.ActivitiesHistory" controller="ActivitiesHistory" action="List" IconClass="fa-genderless"/>-->
      <siteMapNode SystemName="Partner" nopResource="Admin.Configuration.Partner" controller="Partner" action="Index" IconClass="fa-genderless"/>
      <siteMapNode SystemName="Construction" nopResource="Admin.Configuration.Construction" controller="CompletedProjects" action="Index" IconClass="fa-genderless"/>
      <!--// controller="Service" action="List"-->
      <siteMapNode SystemName="Service" nopResource="Admin.Configuration.Service" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="Design and Build Contractor " nopResource="Admin.Service.Service" controller="Service" action="List" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Service Main Contractor" nopResource="Admin.Service.ServiceMainContractor" controller="ServiceMainContractor" action="List" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Service General Contractor" nopResource="Admin.Service.ServiceGeneralContractor" controller="ServiceGeneralContractor" action="List" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Service MEP Contractor" nopResource="Admin.Service.ServiceMEPContractor" controller="ServiceMEPContractor" action="List" IconClass="fa-genderless"/>
      </siteMapNode>
      <siteMapNode SystemName="Supplier" nopResource="Admin.Configuration.Supplier" controller="Supplier" action="Index" IconClass="fa-genderless"/>
      <siteMapNode SystemName="Introduction" nopResource="Admin.Configuration.Introduction" controller="Introduction" action="List" IconClass="fa-genderless"/>
      <siteMapNode SystemName="Recruitment" nopResource="Admin.Configuration.Recruitment" controller="Recruitment" action="List" IconClass="fa-genderless"/>
      <siteMapNode SystemName="Slideshows" nopResource="Admin.Configuration.Slideshow" controller="Slideshow" action="Index" IconClass="fa-genderless"/>
      <siteMapNode SystemName="UploadFile" nopResource="Admin.Configuration.UploadFile" controller="UploadFile" action="Index" IconClass="fa-genderless"/>
      <siteMapNode SystemName="Maps" nopResource="Admin.Configuration.Maps" controller="Maps" action="Index" IconClass="fa-genderless"/>
      <siteMapNode SystemName="AboutUs" nopResource="Admin.Configuration.AboutUs" controller="AboutUs" action="Index" IconClass="fa-genderless"/>
      <siteMapNode SystemName="TimeLine" nopResource="Admin.ContentManagement.TimeLine" controller="TimeLine" action="Index" IconClass="fa-genderless"/>
    </siteMapNode>
    <siteMapNode SystemName="Configuration" nopResource="Admin.Configuration" PermissionNames="ManageCountries,ManageLanguages,ManageSettings,ManagePaymentMethods,ManageExternalAuthenticationMethods,ManageWidgets,ManageTaxSettings,ManageShippingSettings,ManageCurrencies,ManageACL,ManageEmailAccounts,ManagePlugins"
       IconClass="fa-gears">
      <siteMapNode SystemName="Settings" nopResource="Admin.Configuration.Settings" PermissionNames="ManageSettings" IconClass="fa-dot-circle-o" >
        <siteMapNode SystemName="Customer and user settings" nopResource="Admin.Configuration.Settings.CustomerUser" controller="Setting" action="CustomerUser" IconClass="fa-genderless"/>
        <siteMapNode SystemName="General settings" nopResource="Admin.Configuration.Settings.GeneralCommon" controller="Setting" action="GeneralCommon" IconClass="fa-genderless"/>
        <!--<siteMapNode SystemName="Catalog settings" nopResource="Admin.Configuration.Settings.Catalog" controller="Setting" action="Catalog" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Reward points" nopResource="Admin.Configuration.Settings.RewardPoints" controller="Setting" action="RewardPoints" IconClass="fa-genderless"/>
        <siteMapNode SystemName="News settings" nopResource="Admin.Configuration.Settings.News" controller="Setting" action="News" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Forums settings" nopResource="Admin.Configuration.Settings.Forums" controller="Setting" action="Forum" IconClass="fa-genderless"/>-->
        <siteMapNode SystemName="Media settings" nopResource="Admin.Configuration.Settings.Media" controller="Setting" action="Media" IconClass="fa-genderless"/>
        <siteMapNode SystemName="All settings" nopResource="Admin.Configuration.Settings.AllSettings" controller="Setting" action="AllSettings" IconClass="fa-genderless"/>
      </siteMapNode>
      <siteMapNode SystemName="Email accounts" nopResource="Admin.Configuration.EmailAccounts" PermissionNames="ManageEmailAccounts" controller="EmailAccount" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Stores" nopResource="Admin.Configuration.Stores" PermissionNames="ManageStores" controller="Store" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Countries" nopResource="Admin.Configuration.Countries" PermissionNames="ManageCountries" controller="Country" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Languages" nopResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List" IconClass="fa-dot-circle-o"/>


    </siteMapNode>
    <siteMapNode SystemName="System" nopResource="Admin.System" PermissionNames="ManageSystemLog,ManageMessageQueue,ManageMaintenance,ManageScheduleTasks" IconClass="fa-cube">
      <siteMapNode SystemName="Log" nopResource="Admin.System.Log" PermissionNames="ManageSystemLog" controller="Log" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Warnings" nopResource="Admin.System.Warnings" PermissionNames="ManageMaintenance" controller="Common" action="Warnings"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Maintenance" nopResource="Admin.System.Maintenance" PermissionNames="ManageMaintenance" controller="Common" action="Maintenance"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Queued emails" nopResource="Admin.System.QueuedEmails" PermissionNames="ManageMessageQueue" controller="QueuedEmail" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Schedule tasks" nopResource="Admin.System.ScheduleTasks" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Search engine friendly names" nopResource="Admin.System.SeNames" PermissionNames="ManageMaintenance" controller="Common" action="SeNames"  IconClass="fa-dot-circle-o"/>

    </siteMapNode>
    <siteMapNode SystemName="Help" nopResource="Admin.Help" IconClass="fa-question-circle">
      <siteMapNode SystemName="Help topics" nopResource="Admin.Help.Topics" url="https://www.google.com.vn"  IconClass="fa-dot-circle-o" OpenUrlInNewTab="true"/>
    </siteMapNode>
    <siteMapNode SystemName="Third party plugins" nopResource="Admin.Plugins" IconClass="fa-bars" />
  </siteMapNode>
</siteMap>

