@model DashboardModel

@using Nop.Services.Security

@{
    Html.AppendCssFileParts("~/Administration/Content/ionicons/css/ionicons-2.0.1.min.css");

    //page title
    ViewBag.Title = T("Admin.Dashboard").Text;

    var permissionService = EngineContext.Current.Resolve<IPermissionService>();
    var canManageOrders = permissionService.Authorize(StandardPermissionProvider.ManageOrders);
    var canManageCustomers = permissionService.Authorize(StandardPermissionProvider.ManageCustomers);
    var canManageReturnRequests = permissionService.Authorize(StandardPermissionProvider.ManageReturnRequests);
}

@Html.AntiForgeryToken()
<div class="content-header">
    <h1>
        @T("Admin.Dashboard")
    </h1>


















</div>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            @if (canManageOrders && canManageCustomers && canManageReturnRequests)
            {
                <div class="row">
                    <div class="col-md-12">
                        @Html.Action("CommonStatistics", "Home")
                    </div>
                </div>
            }
            @if ((canManageOrders || canManageCustomers))
            {
                <div class="row">
                   
                    @if (canManageCustomers)
                    {
                        <div class="col-md-6">
                            @Html.Action("CustomerStatistics", "Customer")
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>


