#full-width {
   position: relative;
    max-width: 100%;
    min-height: 400px;
}
.content-box h1{
    color: #7dbb3c;
	font-size: 30px;

}
.services-box.col.services-no-content {
    border: 1px solid #a5a3a142;
    box-shadow: 0 0 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.6);
    padding-left: 3px;
    margin-left: 10px;
}
.services-wrapper.services-default.cols-wrapper.cols-4 {
    border: 1px solid #a5a3a142;
    padding: 10px;
    box-shadow: 0 0 4px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
.content-box {
    background-color: #ffffff;
    /*box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);*/
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    width: 92%;
    min-height: 400px;
}
.services-wrapper {
    width: 100%;
}
.cols-wrapper {
    overflow: hidden;
}
.services-default.cols-4 .col {
    width: 23%;
}
.services-default .services-box:first-child {
    border-left: none;
}
.services-default .col {
   
    margin: 20px 0;
}
.col{
	float:left;
}
.services-default img {
    max-width: 92%;
    height: auto;
}
.img-container h3 {
    padding-top: 5px;
    padding-bottom: 0;
    font-weight: 600;
    font-size: 19px;
	    text-align: center;
	
}


