<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    table td {
        width: 80%;
    }
    img {
        width: 70%;
        height: auto;
    }

    table td {
        width: 80%;
    }
</style>

<div class="content" style="font-size:18px;">
    <h2>Quy trình Quản Lý Nhân Sự</h2>
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a class="showhideTable"> Quy trình quản lý nhân sự</a>
                    <div class="showhide">
                        <div class="panel panel-default">
                            <img src="~/Themes/Nicon/Content/file/qlds0004.jpg" alt="Quy trình quản lý nhân sự">
                            <img src="~/Themes/Nicon/Content/file/qlds0005.jpg" alt="Quy trình quản lý nhân sự">
                            <img src="~/Themes/Nicon/Content/file/qlds0006.jpg" alt="Quy trình quản lý nhân sự">
                            <img src="~/Themes/Nicon/Content/file/qlds0007.jpg" alt="Quy trình quản lý nhân sự">
                            <img src="~/Themes/Nicon/Content/file/qlds0008.jpg" alt="Quy trình quản lý nhân sự">
                            <img src="~/Themes/Nicon/Content/file/qlds0009.jpg" alt="Quy trình quản lý nhân sự">
                            <img src="~/Themes/Nicon/Content/file/qlds0010.jpg" alt="Quy trình quản lý nhân sự">
                        </div>
                        @{
                            Html.RenderAction("QLNS", "QLNSProcess");
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.showhideTable').click(function () {
        if (this.nextElementSibling.style.display === "none") {
            this.nextElementSibling.style.display = "block";
        } else {
            this.nextElementSibling.style.display = "none";
        }
    });
</script>

